
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap'); /* importăm font pentru schimbarea numelui inline */

.cartonas {     /* aici modificăm cartonașul față de tema 2 */
            background-image: url(https://lh3.googleusercontent.com/d/10sofh1ITBr3Cw2yUP_efZAAYsaVv677w);
            border-image-source: url(https://i.imgur.com/w5nvyHv.png);
            border-style: solid;
            border-width: 1px 9px;
            border-image-outset: 0px 4px;
            border-top-width:    12px;
            border-bottom-width: 12px;
            border-left-width:  15px;
            border-right-width: 15px;
            border-image-repeat: round;
            border-image-slice: 31;
            margin: 0px auto;
            width: 900px;
            box-shadow: 5px 5px 10px rgb(20, 20, 29);
        }

        .banner-categorie { /* aici modificăm banner-categorie față de tema 2 dar vom aduce modificări globale în index.html */
            background-image: linear-gradient(to right, rgb(208, 200, 203) 10%, rgba(0, 0, 0, 0) 85%);
            color: rgb(88, 20, 40);
            border-left: 7px solid rgb(88, 20, 40);
            font-size: 24px;
            font-family: "Cinzel Decorative";
            font-weight: bold;
            padding: 5px;
            margin-top: 10px;
            padding-left: 10px;
            border-top-left-radius: 7px;
        }